@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This ASP.NET Core web app is a test of Identity on ASP.NET Core</p>
    <p>Register and Login to get acces to Privacy page.</p>
</div>
